/* markdown-it-container */

.base-container {
  padding: 1px 20px;
  border-radius: 8px;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.base-container svg {
  margin-right: 10px;
}

.warning {
  color: #9f6000;
  background-color: #FEEFB3;
  border-left: 6px solid #9f6000;
}

.info {
  color: #00529B;
  background-color: #BDE5F8;
  border-left: 6px solid #00529B;
}

.tip {
  color: #4F8A10;
  background-color: #DFF2BF;
  border-left: 6px solid #4F8A10;
}

.danger {
  color: #D8000C;
  background-color: #FFBABA;
  border-left: 6px solid #D8000C;
}